.block {
    background-color: #3b3b3b;
    background-image: url(../../img/birthday.jpg);
    background-position: center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    
    &__wedding {
        background-image: url(../../img/wedding.jpg);
        background-size: auto 100%;
    }
    
    &__together {
        background-image: url(../../img/together.jpg);
    }
    
    &__pregnant {
        background-image: url(../../img/pregnant.jpg);
    }
    
    &__birth {
        background-image: url(../../img/birth.jpg);
    }
    
    &__child {
        background-image: url(../../img/child.jpg);
    }
    
    &__cat {
        background-image: url(../../img/cat.jpg);
    }
}



